.active {
    background-color: #4CAF50;
}
.chart{
  float:left;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom:0;
  margin-top: 2%;
  width: 45%;
  height: auto;
}

.line{
  margin: 0 auto 0 auto;
  width: 85%;
  height: 4%;
  background-color: #8b9dc3;
}

.line_black{
  margin: 1% auto 0 auto;
  width: 100%;
  height: 4%;
  background-color: #333;
}

.chart_full{
  float:left;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom:0;
  margin-top: 2%;
  width: 80%;
  height: auto;

}
